<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div style="margin-top: 25%; width:50%; align-items: center; align-content: center; margin-left: 25%;">
        <div style="display:flex; justify-content:space-between">
            <div>Number of Calories consumed by <b>{{usrname}}</b></div>
            <div><b>{{calorie}} / 2000 </b></div>
        </div>
        
        <div class="final__animation-bar-2">
            <span data-label="Loading" [style.max-width]= "widthh" [style.width]= "widthh"></span>
            </div>    
    </div>


</body>
</html>